.elementor-2030 .elementor-element.elementor-element-5b65f73{margin-top:10px;margin-bottom:10px;padding:45px 0px 45px 0px;}.elementor-2030 .elementor-element.elementor-element-48c0cb75 > .elementor-element-populated{box-shadow:0px 5px 13px 0px rgba(0, 0, 0, 0.23);}.elementor-bc-flex-widget .elementor-2030 .elementor-element.elementor-element-22674bff.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2030 .elementor-element.elementor-element-22674bff.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2030 .elementor-element.elementor-element-22674bff > .elementor-element-populated{margin:10px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;}.elementor-2030 .elementor-element.elementor-element-340ba13a{text-align:left;}.elementor-2030 .elementor-element.elementor-element-340ba13a .elementor-heading-title{color:#000000;font-family:"Mierb", Sans-serif;font-size:38px;font-weight:700;line-height:1.2em;}.elementor-2030 .elementor-element.elementor-element-141a2c34 .elementor-button{fill:var( --e-global-color-6aefc90 );color:var( --e-global-color-6aefc90 );background-color:var( --e-global-color-60745f9 );}:root{--page-title-display:none;}@media(max-width:767px){.elementor-2030 .elementor-element.elementor-element-48c0cb75 > .elementor-element-populated, .elementor-2030 .elementor-element.elementor-element-48c0cb75 > .elementor-element-populated > .elementor-background-overlay, .elementor-2030 .elementor-element.elementor-element-48c0cb75 > .elementor-background-slideshow{border-radius:2px 2px 2px 2px;}.elementor-2030 .elementor-element.elementor-element-48c0cb75 > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Mierb';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('./../../2022/07/MierB-Bold-1.woff2') format('woff2');
}
@font-face {
	font-family: 'Mierb';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('./../../2022/07/MierB-Heavy-3.woff2') format('woff2');
}
@font-face {
	font-family: 'Mierb';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('./../../2022/07/MierB-ExtraBold-4.woff2') format('woff2');
}
/* End Custom Fonts CSS */